{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<footer>
    <text id="logo">Jollof<text id="logo2">Box</text></text>

    <div id="footer-con">
        <div class="footer-box">
            <h3>Links</h3>
            <span class="line" style="background-color: rgb(226, 43, 80)"></span>
            <a href="{% url 'support' %}" class="footer-link">Support Us</a>
            <a href="{% url 'advertise' %}" class="footer-link">Advertise</a>
            <a href="{% url 'contact' %}" class="footer-link">Contact Us</a>
        </div>

        <div class="footer-box">
            <h3>Resources</h3>
            <span class="line" style="background-color: rgb(43, 226, 116)"></span>
            <a href="{% url 'privacy' %}"  class="footer-link">About Us</a>
            <a href="{% url 'disclaimer' %}"  class="footer-link">Disclaimer</a>
            <a href="{% url 'privacy' %}"  class="footer-link">Privacy Policy</a>
        </div>
    </div>
</footer>