{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>JollofBox | Home</title>

</head>
<body>
    {% include "top_nav.html" %}
    <div id="main">
        {% include "side_nav.html" %}
        <div id="main2">
            <div id="discover">
                <text class="section-header">Discover</text>
                <div id="discover-carousel">
                    {% for film in discover_movies %}
                    
                    <a href="{% url 'movies' title=film.title %}" class="discover-con">
                        <div class="poster-con"><img src="{{ film.poster }}"/></div>
                        <div class="film-info">
                            <text class="film-name">{{ film.title }}</text>
                            <text>{{film.release_date}}</text>
                        </div>
                    </a>

                    {% endfor %}            
                </div>
            </div>

            <div class="section">
                <text class="section-header">Latest Series</text>

                <div class="wrapper">
                    {% for film in series %}
                    <a href="{% url 'series' title=film.title %}" class="wrapper-con">
                        <div class="poster-con"><img src="{{ film.poster }}"/></div>
                        <div class="film-info">
                            <text class="film-name">{{ film.title }}</text>
                            <text>{{film.release_date}}</text>
                        </div>
                    </a>
                    {% endfor %} 
                </div>
            </div>

            
            <div class="section">
                <div id="section-head">
                   <text class="section-header">Movies</text>

                   <select id="movieFilter" onchange="handleMovieFilter()">
                        <option value="latest">Latest</option>
                        <option value="trending">Trending</option>
                    </select> 
                </div>
                

                <div class="wrapper" id="latest">
                    {% for film in movies %}
                    <a href="{% url 'movies' title=film.title %}" class="wrapper-con">
                        <div class="poster-con"><img src="{{ film.poster }}"/></div>
                        <div class="film-info">
                            <text class="film-name">{{ film.title }}</text>
                            <text>{{film.release_date}}</text>
                        </div>
                    </a>
                    {% endfor %} 
                </div>

                <div class="wrapper" id="trending">
                    {% for film in trending_movies %}
                    <a href="{% url 'movies' title=film.title %}" class="wrapper-con">
                        <div class="poster-con"><img src="{{ film.poster }}"/></div>
                        <div class="film-info">
                            <text class="film-name">{{ film.title }}</text>
                            <text>{{film.release_date}}</text>
                        </div>
                    </a>
                    {% endfor %} 
                </div>
            </div>



        </div>
    </div>

    {% include "bottom_nav.html" %}
</body>
</html>
