{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/film_list.css'%}">
    <title>JollofBox | Movies</title>
</head>
<body>
    {% include "top_nav.html" %}

    <div id="main">
        {% include "side_nav.html" %}
        
        <div id="main2">
            <div id="main3">
                <h2>Latest Movies</h2>

                <div class="film-list">
                 
                    {% for movie in paginated_objects %}          
                        <a href="{% url 'movies' title=movie.title %}" class="film">
                                <div class="poster">
                                    <img src="{{ movie.poster }}">
                                </div>
                                <div id="title">
                                    <h4 class="title">{{ movie.title }}</h4>
                                    <text>{{movie.release_date}}</text>
                                </div>
                            </a>
                    {% endfor %}

                </div>

                {% include "pagination.html" %}
            </div>
        </div>
    </div>

    {% include "bottom_nav.html" %}
</body>
</html>